/* ===== HEADER ===== */
.header {
    width: 100%;
    background: #0d47a1; /* Azul padrão */
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
}

.logo span {
    font-weight: 400;
}

/* MENU */
.menu {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu a {
    color: #ffffffd9;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.menu a:hover {
    color: #ffffff;
}

.ativo-menu {
    font-weight: 700;
    color: #ffffff !important;
}
